<main>
  <div class="container">
    <footer
      class="d-flex flex-wrap justify-content-between align-items-center py-4 my-4 border-top"
    >
      <div class="col-md-4 d-flex align-items-center">
        <a
          href="/"
          class="mb-3 me-2 mb-md-0 text-body-secondary text-decoration-none lh-1"
          aria-label="Bootstrap"
        >
          <svg class="bi" width="30" height="24" aria-hidden="true">
            <use xlink:href="#bootstrap"></use>
          </svg>
        </a>
        <span class="mb-3 mb-md-0 text-body-secondary"
          >© 2025 My Reserved Blog</span
        >
      </div>
      <ul
        class="nav col-md-4 justify-content-end list-unstyled d-flex me-5 pe-1"
      >
        <li class="m-0 p-0">
          <a
            class="nav-link text-black"
            href="https://instagram.com"
            aria-label="Instagram"
            ><svg class="bi" width="0" height="0" aria-hidden="true">
              <i class="bi bi-instagram"></i></svg
          ></a>
        </li>
        <li class="ms-1">
          <a
            class="nav-link text-black"
            href="https://twitter.com"
            aria-label="twitter"
            ><svg class="bi" width="0" height="0" aria-hidden="true">
              <i class="bi bi-twitter-x"></i></svg
          ></a>
        </li>
        <li class="ms-1">
          <a
            class="nav-link text-black"
            href="https://linkedin.com"
            aria-label="Facebook"
            ><svg class="bi" width="0" height="0" aria-hidden="true">
              <i class="bi bi-linkedin"></i></svg
          ></a>
        </li>
      </ul>
    </footer>
  </div>
  <!-- jQuery Library - Load first -->
  <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
  <!-- Application Scripts -->
  <script src="/index.js" charset="utf-8"></script>
</main>
