<%- include('partials/header-no-navigation.ejs') %>

<div class="divider-froms" style="height: 10dvh"></div>
<div class="container d-flex align-items-center justify-content-center h-100">
  <div class="modal-dialog">
    <div
      class="modal-content d-flex align-items-center justify-content-around"
      style="background-color: #fbfbfb"
    >
      <div class="d-block align-self-end m-5 pe-4 border-bottom-0">
        <a class="btn-close ms-5" href="/" aria-label="Close">
          <i class="bi bi-x"></i>
        </a>
      </div>
      <div class="modal-header p-1 pb-3 border-bottom-0">
        <h1 class="fw-bold mb-5 fs-3">Sign up with your email</h1>
      </div>
      <div class="modal-body p-5 pt-0">
        <form class="form-control p-4">
          <div class="form-floating mb-3">
            <input
              type="name"
              class="form-control rounded-3"
              id="floatingInput"
              placeholder="name@example.com"
            />
            <label for="floatingInput">User name</label>
          </div>
          <div class="form-floating mb-3">
            <input
              type="email"
              class="form-control rounded-3"
              id="floatingInput"
              placeholder="name@example.com"
            />
            <label for="floatingInput">Email address</label>
          </div>
          <div class="form-floating mb-3">
            <input
              type="password"
              class="form-control rounded-3"
              id="floatingPassword"
              placeholder="Password"
            />
            <label for="floatingPassword">Password</label>
            <kpm-field-badge
              style="--FieldBadge-ZLevel: 1057 !important"
              type="default"
              loading="false"
              menu-type="password"
              class="kpm_input-field-button kpm_gray-key-icon"
              data-product-type="b2c"
            ></kpm-field-badge>
          </div>
          <div class="form-floating mb-3">
            <input
              type="confirmPassword"
              class="form-control rounded-3"
              id="floatingConfirmPassword"
              placeholder="Confirm Password"
            />
            <label for="floatingPassword">Confirm Password</label>
            <kpm-field-badge
              style="--FieldBadge-ZLevel: 1057 !important"
              type="default"
              loading="false"
              menu-type="password"
              class="kpm_input-field-button kpm_gray-key-icon"
              data-product-type="b2c"
            ></kpm-field-badge>
          </div>
          <button
            class="w-100 mb-2 btn btn-lg rounded-3 btn-primary"
            type="submit"
          >
            Sign up
          </button>
          <div
            class="d-flex justify-content-center align-items-center mb-3 mt-4"
          >
            <div class="form-check">
              <input
                class="form-check-input"
                type="checkbox"
                value=""
                id="rememberMeCheck"
              />
              <label class="form-check-label" for="rememberMeCheck">
                I agree to the
                <a href="#" class="text-decoration-none ms-1">terms of use</a>
              </label>
            </div>
          </div>
          <div class="d-flex mb-3">
            <hr class="mt-3 flex-fill" style="text-decoration: dashed" />
            <h5 class="mx-4 mt-1">or</h5>
            <hr class="mt-3 flex-fill" style="text-decoration: dashed" />
          </div>
          <button
            class="w-100 py-2 mb-2 btn btn-light text-black rounded-3"
            style="border: 1px solid #c9c9c9; background-color: #fff"
            type="submit"
          >
            <svg class="bi me-2" width="16" height="16" aria-hidden="true">
              <i class="bi bi-google"></i>
            </svg>
            Google
          </button>
          <button
            class="w-100 py-2 mb-2 btn btn-outline-primary rounded-3 text-primary"
            style="border: 1px solid #c9c9c9; background-color: #fff"
            type="submit"
          >
            <svg class="bi ms-4" width="16" height="16" aria-hidden="true">
              <i class="bi bi-facebook"></i>
            </svg>
            Facebook
          </button>
          <button
            class="w-100 py-2 mb-2 btn btn-outline-black rounded-3 text-black"
            style="border: 1px solid #c9c9c9; background-color: #fff"
            type="submit"
          >
            <svg class="bi m-0" width="16" height="16" aria-hidden="true">
              <i class="bi bi-apple"></i>
            </svg>
            Apple
          </button>
          <div class="d-block align-self-end m-3 pe-3 border-top-0">
            <p class="text-center">
              Already have an account?
              <a href="/login" class="text-decoration-none">Sign in</a>
            </p>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<%- include('partials/footer-no-navigation.ejs') %>
